@charset "ISO-8859-1";

.navbar-brand{ 
  background: url("../images/shoppershublogo.png") center / contain no-repeat;
   width: 250px; 
} 

.nav li a {
  font-family: arial;
  font-weight: bold;
}
























